<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>EASE TOGETHER - DETALHE DE PRODUTO</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/styleproduto.css'>
    <script type="text/javascript" src="../controller/precoController.js"></script>

</head>

<header>
    <%- include('./partials/navheader.ejs') %>
</header>


<body>
    <div class="centralizar">
        <main>
            <div class="main-produto">
                <div class="produto">
                    <h3 class="titulo-produto">
                        <%= produto.name%>
                    </h3>
                    <img class="foto-produto" src='<%=produto.rotaImg %>' alt="notebook">
                </div>
                <aside>
                    <div class="planos-produto">
                        <div class="escolha-plano">Selecione abaixo o seu plano:</div>
                        <div class="botoes">
                            <button type="button" class="botao-plano" onclick="mudarValor(7,0)">7 dias</button>
                            <button type="button" class="botao-plano" onclick="mudarValor(15,0)">15 dias</button>
                            <button type="button" class="botao-plano" onclick="mudarValor(30,0.05)">Mensal</button>
                            <button type="button" class="botao-plano" onclick="mudarValor(90,0.15)">3 meses</button>
                            <button type="button" class="botao-plano" onclick="mudarValor(180,0.20)">6 meses</button>
                            <button type="button" class="botao-plano" onclick="mudarValor(365,0.30)">12 meses</button>
                        </div>
                        <div class="valor-pagar">Valor a pagar:</div>
                        <div class="valor"><span class="moeda">R$</span>
                            <span class="preco"><%= produto.price%></span>
                        </div>
                        <button type="button" class="botao-alugar"> <img src="/images/imagesDetalheProduto/vector.png">QUERO ALUGAR</button>
                        <form action="/carrinho/<%= produto.id %> " method="get"></form>

                    </div>
                    <div class="main-frete">
                        <div class="frete"> Calcule seu frete: </div>
                        <div class="input-botao-cep">
                            <input type="text" id="cep" placeholder="Insira seu CEP">
                            <button type="submit" class="ok-frete">OK</button>
                            <div class="nao-sei-cep"><a href="/">Não lembro meu CEP</a></div>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="main-descricao">
                <h3 class="titulo-descricao">Descrição do produto</h3>
                <div class="descricao-produto">
                    <div class="texto-descricao">
                        <%= produto.description%>
                    </div>
                </div>
                <!-- <div class="imagens-descricao">
                    <img src="/images/imagesDetalheProduto/image 12.png" alt="">
                    <img src="/images/imagesDetalheProduto/image 13.png" alt="">
                </div> -->
            </div>
        </main>
    </div>
</body>


<script type="text/javascript" src="javascripts/mobile-navbar.js"></script>

<script type="text/javascript" src="/javascripts/script.js"></script>


<footer>
    <%- include('./partials/footer.ejs') %>
</footer>

</html>